.main{
   
    text-align: center;
    justify-content: center;
    display: flex;
    padding: 90px 0 90px 0;
    background-color: whitesmoke;
}
.imgs{
    padding-top: 20px;
    justify-content: center;
    display:flex;
}

.profile{
    height:115px;
    width:115px;
    border-radius: 130px;
}
.container-img{
    background-color: rgb(223,221,221);
    border-radius: 130px;
    align-items: center;
    height: 110px;
    width: 110px;
}
h2{
    color: rgb(0, 110, 255);
    text-transform: uppercase;
}
.sub-main{
    display: flex;
    justify-content: center;
    height: 500px;
    align-items: center;
    width:25%;
    box-shadow:11px 12px 13px 12px rgb(207,2007,207);
    padding-top:30px;
    border-radius: 60px;
    flex-direction: column;
    background-color: white;

}